@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Tamma 2', cursive;
} 
body{
    background-image: url('bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 120%;
    scroll-behavior: smooth;
}
.users{
    /* width: 200px; */
    /* margin: 0 auto; */
    text-align: center;
}
.content{
    width: 55vw;
    min-width: 560px;
    margin: 0 calc(22.5vw + 30px);
    display: flex;
    flex-direction: row;
    transition: .5s;
}
.table{
    width: 50vw;
    min-width: 500px;
    /* margin: 0 auto; */
    background-color: #FFFFFF;
    display: flex;
}
.table div{
    overflow: hidden;
}

.f_name, .l_name, .phone, .about, .color {
    width: 100%;
    opacity: 1;
    border: 1px solid #1565c050;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-width: 100px;
}
.about{
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.color{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.table_head{
    margin-left: calc(auto - 60px);
}
.table_head .f_name,
.table_head .l_name,
.table_head .phone,
.table_head .about,
.table_head .color{
    font-size: 20px;
}

.eye{
    margin: 5px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    opacity: .5;
}

.hidden{
    z-index: -50;
    display: none;
    opacity: 0;
}

.controll{
    position: fixed;
    top: 10%;
    left: 5%;
    /* width: 30%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.controll div {
    width: 200px;
}

.form{
    z-index: -1;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000070;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap{
    width: 35vw;
    border-radius: 5px;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
}
.wrap input, select{
    width: 200px;
    height: 30px;
    font-size: 15px;
    text-align: start;
    margin: .4rem;
}
.wrap textarea{
    resize: none;
    font-size: 15px;
    margin: .4rem;
    overflow: auto;
    outline: none;
	-moz-appearance: none;
}
.wrap button{
    width: 70px;
    outline: none;
	-moz-appearance: none;
}

.lable{
    width: 150px;
}
.wrap div{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.upd, .del, .create{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    /* opacity: 0.5; */
}
.upd{
    background-color: #03A9F4;
    background-image: url('draw.svg');
}
.del{
    background-color: #F44336;
    background-image: url('trash.svg');
}
.ctrl{
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateX(100%);
    transition: .5s;
    opacity: 0;
}
.content:hover  .ctrl{
    transform: translateX(10%);
    opacity: 1;
}

.content:hover .table{
    background-color: #d2d2d2;
    transform: scale(1.005);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}
.content:hover .table_head{
    background-color: white;
    transform: scale(1);
    box-shadow: none;
}

.create{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    right: 5%;
    bottom: 5%;
    background-color: #2196f3; 
    transition: .5s;
    background-image: url('add.svg');
}
.create:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    /* background-color: #1565c0; */
}

.sort_sel{
    max-width: 150px;
}

.lable button{
    color: white;
    border-radius: 3px;
    transition: .3s;
    font-size: 15px;
}
.btnOk{
    background-color: #2196f3;
    border: 1px solid #1565c0;
}
.btnCl{
    background-color: #f44336;
    border: 1px solid #c62828;
}
.btnOk:hover{
    background-color: #1565c0;
}
.btnCl:hover{
    background-color: #c62828;
}
.pagination{
    margin: 40px auto;
    width: 300px;
    display: flex;
    /* border: 1px solid black; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pagination div , .pagination .selected{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border: 1px solid #ddd;
    font-size: 16px;
}
.pagination div{
    background-color: #fff;
    color: #337ab7;
}
.pagination .selected{
    color: #fff;
    background-color: #337ab7;
}

.pagination div:hover{
    background-color: #d2d2d2;
}
.pagination .selected:hover{
    background-color: #337ab7;
}
.next{
    border-radius: 0 4px 4px 0;
}
.prev{
    border-radius: 4px 0 0 4px;
}
